:root {
  --zoom-scale: 1.36;
  --rotate-offset: 0deg;
  --translate-x-offset: 0;
  --translate-y-offset: -11vh;
  

  --translate-y-offset-workexperience: -5.5vh;
  --translate-x-offset-workexperience: 0px;
  --rotate-offset-workexperience: -2.5deg;

  --translate-y-offset-personalprojects: -8vh;
  --translate-x-offset-personalprojects: 0px;
  --rotate-offset-personalprojects: -1deg;

  --translate-y-offset-wheretofindme: -9.7vh;
  --translate-x-offset-wheretofindme: 0px;
  --rotate-offset-wheretofindme: -2deg;
}

/* For my monitor  */
@media (min-width: 2000px) {
  .video-size {
    max-width: 1920px;
  }

  :root {
    --zoom-scale: 1.5;
    --translate-y-offset: -9vh;
  }
}

/* For Macbook */
@media (min-width: 1200px) and (max-width: 1700px) {
  /* For Chrome */
  @media (max-height: 875px) {
    :root {
      --zoom-scale: 1.38;
      --translate-y-offset: -10.2vh;
    }
  }

  /* For Safari */
  @media (min-height: 875px) {
    :root {
      --zoom-scale: 1.43;
      --translate-y-offset: -10.2vh;
    }
  }
}

/* For iPhone 12 Pro Max */
@media (max-width: 1200px) {
  :root {
    --zoom-scale: 1.24;
    --translate-y-offset: -12%;
    --rotate-offset: 0.3deg;

    --translate-x-offset-workexperience: -16px;

    --translate-x-offset-personalprojects: 8px;

    --translate-x-offset-wheretofindme: 16px;
  }

  #openOnDesktop {
    opacity: 1 !important;
  }
}
