body {
  margin: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  filter: blur(10px);
  position: relative;
  transition: transform 1s ease;
  will-change: transform;
  transform: translateX(0px);
}

@media (max-width: 1200px) {
  .page-wrapper,
  .loading-overlay {
    height: calc(100vh - 110px) !important;
  }

  .page-wrapper {
    margin-left: 16px;
  }
}

.page-wrapper.entered {
  animation: blur 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  animation-fill-mode: forwards;
}

.video-size {
  width: 100vw;
  height: auto;
  margin: 0 0 0 0;
}

.placeholder-image {
  width: 100%;
}

@media (max-width: 1200px) {
  .video-size {
    height: 100vh;
    width: auto;
    margin: 0 0 0 0;
  }

  .placeholder-image {
    height: 100%;
    width: auto;
  }
}

.loading-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 15;
  background: #000000a3;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.loading-overlay.loaded {
  animation: to-gray 3s ease-in-out 0s;
  animation-fill-mode: forwards;
}

.inactive {
  opacity: 0;
}

@keyframes to-gray {
  from {
    background: #000000a1;
  }
  to {
    background: #0002;
  }
}

a {
  color: #fff;
}

#loadedText {
  display: none;
}

#loadedText.visible {
  display: block;
}

#catgifs {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
  margin-bottom: 40px;
}

#catgifs.visible {
  display: flex;
}

#catgifs.visible ~ #showCatGifsLink {
  display: none;
}

.gif-wrapper {
  border: 0.5px solid #fff4;
  margin-bottom: 16px;
  font-size: 0;
}

@keyframes blur {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}

.zoomed {
  transform: scale(1.42) translateY(-5.5%);
}

.zoomed.on-workexperience {
  transform: scale(1.4) translateY(-1%) rotate(-2.5deg);
}

.zoomed.on-personalprojects {
  transform: scale(1.4) translateY(-3%) rotate(-1deg);
}

.zoomed.on-wheretofindme {
  transform: scale(1.4) translateY(-5%) translateX(1%) rotate(-2deg);
}

@media (max-width: 1200px) {
  .zoomed {
    transform: scale(1.45) translateY(-6%) translateX(-0.3%) rotate(0.4deg);
  }
  #openOnDesktop {
    opacity: 1 !important;
  }
}

.video-size {
  font-size: 0;
  position: relative;
}

.blurred {
  transition: filter 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  filter: blur(2px) brightness(0.8);
}

.still-image {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.still-image.active {
  opacity: 1;
}

video {
  position: absolute !important;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.button-image {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 5;
  filter: brightness(1.3);
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button-image.hovered {
  opacity: 1;
}

.trigger {
  z-index: 10;
  cursor: pointer;
  pointer-events: none;
  /* border: 1px solid red; */
}

.trigger.available {
  pointer-events: all;
}

.trigger.button:hover {
  opacity: 1;
}

.trigger.paper {
  position: absolute;
  top: 28.2%;
  left: 36%;
  width: 26%;
  height: 63%;
}

.trigger[data-for='work-experience'] {
  position: absolute;
  top: 59.6%;
  left: 41%;
  width: 15%;
  height: 4%;
}

.trigger[data-for='personal-projects'] {
  position: absolute;
  top: 63.7%;
  left: 41%;
  width: 15%;
  height: 3.2%;
}

.trigger[data-for='where-to-find-me'] {
  position: absolute;
  top: 67%;
  left: 41%;
  width: 15%;
  height: 3%;
}

.trigger[data-for='okapi'] {
  position: absolute;
  top: 70%;
  left: 41%;
  width: 15%;
  height: 3.1%;
}

.trigger[data-for='resume'] {
  position: absolute;
  top: 84.3%;
  left: 41.5%;
  width: 15%;
  height: 3.5%;
}

.trigger[data-for='work-experience-back-button'] {
  position: absolute;
  top: 27.3%;
  left: 38.5%;
  width: 5%;
  height: 5.5%;
}

.trigger[data-for='personal-projects-back-button'] {
  position: absolute;
  top: 28.8%;
  left: 37.5%;
  width: 5%;
  height: 5.5%;
}

.trigger[data-for='where-to-find-me-back-button'] {
  position: absolute;
  top: 30%;
  left: 37.5%;
  width: 5%;
  height: 5.5%;
}
