body {
  margin: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.link {
  cursor: pointer;
  border: 1px solid #fff4;
  border-radius: 40px;
  padding: 9px 29px;
  padding-top: 10px;
}

.link:hover {
  background: #fff2;
}

.enter-button {
  display: inline-block;
  margin-top: 24px;
  border: 1px solid #fff4;
  border-radius: 39px;
  padding: 12px 41px;
  margin-top: 24px;
  font-size: 20px;
}

.page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  filter: blur(10px);
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: scale(1.00001);
  transition: transform 1s ease;
}

@media (max-width: 1200px) {
  .page-wrapper,
  .loading-overlay {
    height: calc(100vh - 110px) !important;
  }

  .page-wrapper {
    margin-left: 16px;
  }
}

.page-wrapper.entered {
  animation: blur 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  animation-fill-mode: forwards;
}

.video-size {
  width: 100vw;
  height: auto;
  margin: 0 0 0 0;
  font-size: 0;
  position: relative;
}

.placeholder-image {
  width: 100%;
}

@media (max-width: 1200px) {
  .video-size {
    height: 100vh;
    width: auto;
    margin: 0 0 0 0;
  }

  .placeholder-image {
    height: 100%;
    width: auto;
  }
}

.loading-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 15;
  background: #000000cc;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.loading-overlay.loaded {
  animation: to-gray 3s ease-in-out 0s;
  animation-fill-mode: forwards;
}

.logs {
  position: fixed;
  z-index: 20;
  right: 12px;
  top: 16px;
  background-color: #000b;
  padding: 8px 12px;
  border-radius: 6px;
  white-space: nowrap;
}

.progress-bar-track {
  width: calc(100vw / 2);
  height: 3px;
  background-color: #fff4;
  border-radius: 6px;
  margin-top: calc(100vh / 15);
}

@media (max-width: 1200px) {
  .progress-bar-track {
    width: 100%;
  }
}

.progress-bar-line {
  height: 100%;
  background-color: #fff;
  border-radius: 6px;
  width: 0%;
}

.inactive {
  opacity: 0;
}

@keyframes to-gray {
  from {
    background: #000000cc;
  }
  to {
    background: #0002;
  }
}

a {
  color: #fff;
}

#loadedText {
  display: none;
}

#loadedText.visible {
  display: block;
}

#catgifs {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
  margin-bottom: 40px;
}

#catgifs.visible {
  display: flex;
}

#catgifs.visible ~ #showCatGifsLink {
  display: none;
}

.gif-wrapper {
  border: 0.5px solid #fff4;
  margin-bottom: 16px;
  font-size: 0;
}

.gif-wrapper img {
  height: 35vh;
  display: none;
}

@keyframes blur {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}

.zoomed {
  transform: scale(var(--zoom-scale)) translateY(var(--translate-y-offset)) translateX(var(--translate-x-offset)) rotate(var(--rotate-offset));
}

.zoomed.on-workexperience {
  transform: scale(var(--zoom-scale)) translateY(var(--translate-y-offset-workexperience)) translateX(var(--translate-x-offset-workexperience)) rotate(var(--rotate-offset-workexperience));
}

.zoomed.on-personalprojects {
  transform: scale(var(--zoom-scale)) translateY(var(--translate-y-offset-personalprojects)) translateX(var(--translate-x-offset-personalprojects)) rotate(var(--rotate-offset-personalprojects));
}

.zoomed.on-wheretofindme {
  transform: scale(var(--zoom-scale)) translateY(var(--translate-y-offset-wheretofindme)) translateX(var(--translate-x-offset-wheretofindme)) rotate(var(--rotate-offset-wheretofindme));
}

.still-image {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  /* filter: grayscale(); */
}

.still-image.active {
  opacity: 1;
}

video {
  position: absolute !important;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.button-image {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 5;
  filter: brightness(1.5);
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button-image.hovered {
  opacity: 1;
}

.trigger {
  z-index: 10;
  cursor: pointer;
  pointer-events: none;
  border-radius: 50px;
}

.trigger.active {
  pointer-events: all;
  /* border: 1px solid red; */
}

.trigger.button:hover {
  opacity: 1;
}

.trigger.paper {
  position: absolute;
  top: 28.2%;
  left: 36%;
  width: 26%;
  height: 63%;
}

.trigger[data-for='work-experience'] {
  position: absolute;
  top: 59.6%;
  left: 41%;
  width: 15%;
  height: 4%;
}

.trigger[data-for='personal-projects'] {
  position: absolute;
  top: 63.7%;
  left: 41%;
  width: 15%;
  height: 3.2%;
}

.trigger[data-for='where-to-find-me'] {
  position: absolute;
  top: 67%;
  left: 41%;
  width: 15%;
  height: 3%;
}

.trigger[data-for='okapi'] {
  position: absolute;
  top: 70%;
  left: 41%;
  width: 15%;
  height: 3.1%;
}

.trigger[data-for='resume'] {
  position: absolute;
  top: 84.3%;
  left: 41.5%;
  width: 15%;
  height: 3.5%;
}

.trigger[data-for='work-experience-back-button'] {
  position: absolute;
  top: 27.3%;
  left: 38.5%;
  width: 5%;
  height: 6%;
}

.trigger[data-for='personal-projects-back-button'] {
  position: absolute;
  top: 28.8%;
  left: 37.5%;
  width: 5%;
  height: 6%;
}

.trigger[data-for='where-to-find-me-back-button'] {
  position: absolute;
  top: 30%;
  left: 37.5%;
  width: 5%;
  height: 6%;
}

.trigger[data-for='plant'] {
  position: absolute;
  top: 26%;
  right: 14.5%;
  width: 12%;
  height: 22.5%;
}

.trigger[data-for='corona'] {
  position: absolute;
  top: 35%;
  left: 37.5%;
  width: 15%;
  height: 6%;
}

.trigger[data-for='emojiindex'] {
  position: absolute;
  top: 42%;
  left: 37.5%;
  width: 17%;
  height: 6%;
}

.trigger[data-for='runningcat'] {
  position: absolute;
  top: 48.5%;
  left: 37.5%;
  width: 15.5%;
  height: 5.7%;
}

.trigger[data-for='fbadblock'] {
  position: absolute;
  top: 55%;
  left: 37.5%;
  width: 22.5%;
  height: 6%;
}

.trigger[data-for='rntricks'] {
  position: absolute;
  top: 62%;
  left: 37.5%;
  width: 16.5%;
  height: 6%;
}

.trigger[data-for='aureliavisovan'] {
  position: absolute;
  top: 69.5%;
  left: 37.5%;
  width: 19%;
  height: 6%;
}

.trigger[data-for='whatisthis'] {
  position: absolute;
  top: 76.5%;
  left: 37.5%;
  width: 16%;
  height: 6%;
}

.trigger[data-for='amgolf'] {
  position: absolute;
  top: 35%;
  left: 39.5%;
  width: 22%;
  height: 6.5%;
}

.trigger[data-for='tapptitude'] {
  position: absolute;
  top: 42%;
  left: 39.5%;
  width: 22.5%;
  height: 6.5%;
}

.trigger[data-for='expertnetwork'] {
  position: absolute;
  top: 50.5%;
  left: 39%;
  width: 23%;
  height: 11%;
}
