body {
    margin: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: crimson;
}

/*scroller*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    overflow: auto;
    overflow-y: hidden;
}

::-webkit-scrollbar-thumb {
    background: white;
}

pre {
    background-color: transparent;
    border: none;
    background: none !important;
}

code {
    font-family: Consolas;
    font-size: 18px !important;
    background: none !important;
    color: rgba(200, 200, 200, 1) !important;
    border: none;
}

.hljs-string {
    color: white !important;
}

.random-color {

}

.big-title {
    text-align: center;
    color: white;
    margin-bottom: 130px;
    visibility: hidden;
}

.big-title div {
    display: inline-block;
    font-size: 28px;
    text-transform: uppercase;
}

.big-title .dot {
    border-radius: 65px;
    width: 100px;
    height: 100px;
    background-color: white;
}

.dot.small {
    transition: all 1s;
    -webkit-transition: all 1s; /* Safari */
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-right: -5px;
}

.big-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: lowercase;
}

.menu {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    margin: auto;
    font-size: 60px;
    /*width: 530px;*/
    padding: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.menu-item {
    position: relative;
    cursor: pointer;
}

.menu-item span {
    font-weight: 900;
    display: inline-block;
}

.menu > div {
    padding: 0;
}

.filling-rectangle {
    display: inline-block;
    height: 42px;
    width: 35px;
    background-color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.rectangle-back {
    position: absolute;
    z-index: 0;
    background-color: white;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.menu-item:hover .rectangle-back {
    opacity: 0.3;
}

.binary-text {
    font-size: 30px;
    color: white;
    font-family: "Courier New";
    width: 120%;
    font-weight: 900;
    opacity: 0.05;
    position: absolute;
    z-index: -1;
}

#coolnessScale {
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-flex;
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 5;
}

.scalars {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.scalars.active {
    background-color: rgba(255, 255, 255, 0.6);
}

.coolness-description {
    position: fixed;
    right: 5px;
    top: 75px;
    z-index: 5;
    padding: 15px;
    padding-bottom: 13px;
    background-color: rgba(255, 255, 255, 0.2);
    height: auto !important;
    color: white;
    width: auto !important;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    display: none;
}

#one:hover ~ #oneDesc {
    display: block;
}

#two:hover ~ #twoDesc {
    display: block;
}

#three:hover ~ #threeDesc {
    display: block;
}

.scalars:hover {
    background-color: white;
    -webkit-filter: opacity(80%);
}

.scalars:hover ~ .scalars {
    background-color: white;
    -webkit-filter: opacity(80%);
}

.color-picker {
    margin: 10px;
    position: fixed;
    display: inline-flex;
    left: 5px;
    top: 5px;
    z-index: 35;
    background-color: rgba(255, 255, 255, .4);
    /*border: 1px solid rgba(255, 255, 255, 0.7);*/
}

.color-picker:hover .color {
    -webkit-filter: opacity(100%);
}

.color {
    display: inline-block;
    background-color: blue;
    width: 30px;
    height: 30px;
    margin: 5px;
    -webkit-filter: opacity(50%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.color:hover {
    -webkit-filter: opacity(100%);
    width: 50px;

}

.color.active {
    -webkit-filter: opacity(100%);
    width: 50px;
}

@media (max-width: 768px) {
    body {
        background-size: auto;
    }
}

#about {
    display: none;
    margin-top: 118px;
    height: 0;
    background: rgba(0, 0, 0, 0.3);
    overflow-y: scroll;
    overflow-x: hidden;
    border-left: 10px solid white;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#about, #about pre {
    padding: 0;
}

#about code {
    padding: 25px;
}

.container {
    padding: 0;
}

.back {
    position: fixed;
    font-size: 50px;
    color: white;
    top: 30px;
    left: 15px;
    display: none;
    z-index: 50;
    cursor: pointer;
}

.background {
    width: 100%;
    position: fixed;
    z-index: -10;
}

@media (max-width: 600px) {
    .background {
        margin-top: 0;
        width: auto;
        height: 100%;
    }

    .menu {
        left: 0;
        top: 100px;
    }

    .menu-item span {
        /*float: left;*/
    }

    .filling-rectangle {
        /*float: left;*/
        height: 22px;
        margin-left: 5px;
    }

    #about code {
        font-size: 14px !important;
        padding: 0;
    }
}

@media (min-width: 800px) and (max-width: 1367px) {
    .background {
        margin-top: -70px;
    }
}

@media (max-width: 300px) {
    .menu {
        font-size: 35px;
    }

    #about {
        margin-top: 57px;
        height: 95vh!important;
    }

@media (min-width: 300px) {
    .menu {
        font-size: 45px;
    }
}

@media (min-width: 400px) {
    .menu {
        font-size: 60px;
    }
}

