body {
    margin: 0;
    overflow: hidden;
}

span {
    font-family: 'Montserrat', sans-serif;
    display: block;
}

.title {
    font-weight: 700;
    display: block;
    font-size: 90px;
    line-height: 1.1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 15px;
    margin-top: 15px;
    color: #333;
    color: white;
    letter-spacing: 4px;
}

.container {
    padding: 100px 0;
    text-align: center;
    background: gold;
    color: white;
    position: relative;
    height: 100vh;
}

.sun-heart,
.sun {
    display: block;
    position: absolute;
}

.sun-heart {
    bottom: 139px;
    left: 392px;
}

.sun {
    font-size: 500px;
    bottom: -41px;
    left: -186px;
    opacity: 0.3;
}

.daily-name {
    display: inline;
}

@media (max-width: 1024px) {
    .title {
        font-size: 65px;
    }
}