html {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background-image: url(img/background.png);
  background-size: 152%;
  background-position-y: -127px;
  height: 100%;
}

@media (max-width: 700px) {
  body {
    zoom: 0.85;
  }
}

.guidelines .horizontal {
  position: fixed;
  width: 100vw;
  top: 40vh;
  margin-top: -0.5px;
  border-bottom: 1px solid rosybrown;
}

.guidelines .vertical {
  position: fixed;
  height: 100vh;
  left: 50vw;
  margin-left: -0.5px;
  border-right: 1px solid blueviolet;
}

.wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.profile-image {
  position: absolute;
  top: calc(40vh - 50px);
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid red;
}

.central {
  transform: translateY(30px);
}

.profile-image img {
  height: 163px;
  margin-left: -22px;
}

.hi {
  position: absolute;
  top: calc(40vh - 147px);
  left: 0;
  right: 0;
  margin: auto;
  height: 207px;
  padding-left: 6px;
  z-index: 2;
}

.imiuliu {
  position: absolute;
  top: calc(40vh + 60px);
  left: 0;
  right: 0;
  margin: auto;
  height: 37px;
  padding-left: 6px;
  z-index: 2;
}

.welcometowebsite {
  position: absolute;
  top: calc(40vh + 100px);
  left: 0;
  right: 0;
  margin: auto;
  height: 50px;
  padding-left: 6px;
  z-index: 2;
}

.logo {
  position: absolute;
  top: calc(40vh - (85px + 19vh));
  left: 0;
  right: 0;
  margin: auto;
  height: 80px;
  width: 80px;
  padding-left: 6px;
  z-index: 4;
  transform-origin: 45px calc(85px + 18vh);
  display: inline-block;
  cursor: pointer;
}

.logo.small {
  top: calc(40vh - (85px + 19vh + 70px));
  transform-origin: 45px calc(100px + 26vh);
  height: 80px;
  width: 80px;
}

.logo.bottom {
  top: calc(40vh + 25vh);
  transform-origin: 45px -19vh;
}

.logo.bottom.small {
  top: calc(40vh + 25vh + 90px);
  transform-origin: 45px -29vh;
}

.av {
  transform: rotate(15deg);
}

.av img {
  transform: rotate(-15deg);
}

.runningcat {
  transform: rotate(-15deg);
}

.runningcat img {
  transform: rotate(15deg);
}

.whatisthis {
  transform: rotate(27deg);
}

.whatisthis img {
  transform: rotate(-27deg);
}

.fbadblock {
  transform: rotate(-27deg);
}

.fbadblock img {
  transform: rotate(27deg);
}

.yt {
  transform: rotate(-27deg);
}
.yt img {
  transform: rotate(27deg);
}

.emojiindex {
  transform: rotate(27deg);
}
.emojiindex img {
  transform: rotate(-27deg);
}

.logo img {
  height: 100%;
}

.corona {
  transform: rotate(-19deg);
}
.corona img {
  transform: rotate(19deg);
}

.rntricks {
  transform: rotate(19deg);
}

.rntricks img {
  transform: rotate(-19deg);
}

.circle-wrapper {
  position: absolute;
  top: calc(40vh - (530px / 2));
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid red;
  width: 1px;
  height: 1px;
}

.circle-wrapper .circle {
  height: 530px;
  width: 530px;
  border-radius: 100%;
  border: 1px solid green;
  position: absolute;
  left: calc(-530px / 2);
  right: 0;
  margin: auto;
}

.circle-wrapper.small {
  top: calc(40vh - (375px / 2));
}

.circle-wrapper.small .circle {
  height: 375px;
  width: 375px;
  left: calc(-375px / 2);
  right: 0;
  margin: auto;
  border: 1px solid blue;
}

.broken {
  gg: 2px;
}
