body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chart-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.country-picker {
  padding: 5px;
  border-radius: 5px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

.graph-title {
  margin-bottom: 0px;
  margin-top: 55px;
}
