body {
    overflow: hidden;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.background-wrapper {
    display: flex;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

h2 {
    color: #009688;
    opacity: 0.3;
    font-size: 200px;
}

.inputs-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    box-shadow: 1px 1px 18px 0px #dce8e7;
}

.inputs-wrapper input {
    padding: 7px 12px;
    width: 40%;
    border-radius: 2px;
    font-size: 20px;
    border: 1px solid #009688;
    font-family: inherit;
    width: 50%;
    color: #3a3a3a;
}

.inputs-wrapper input:focus {
    width: 85%;
}

.inputs-wrapper input:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.inputs-wrapper input:nth-of-type(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
    text-align: right;
}

.output-wrapper {
    display: none;
    position: absolute;
    padding: 18px 15px;
    background: #009688;
    color: white;
    width: calc(100% - 30px);
    box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.15)
}

#C {
    float: right;
    border: 0px;
    background: white;
    color: #009688;
    font-weight: 600;
    padding: 7px 12px;
    text-transform: uppercase;
    font-family: inherit;
    margin: -18px -15px 3px 3px;
    cursor: pointer;
}

#C:hover {
    box-shadow: 1px 1px 3px 0px rgba(0,0,0, 0.5);
}