body {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

tr {
    background: #00796b;
    color: white;
    margin: 0;
    border: 1px solid white;
}

tr:hover {
    background: #00897b;
}

td:not(:first-of-type) {
    border-left: 1px solid white;
}

td {
    cursor: move;
    width: 200px;
}

td {
    padding: 5px 20px;
    height: 27px;
}

th {
    padding: 10px 15px;
}